.panel-body table tr td {
  width : 10%;
  text-align: right;
}

.fizz-number {
  background-color: orangered;
}

.buzz-number {
  background-color: lightskyblue;
}

.fizzbuzz-number {
  background-color: violet;
}
